// COLORS
$color-dark-grey: #4d4d4d;
$color-off-white: #f7f7f7;

$color-white: #ffffff;
$color-black: #000000;

$color-yellow: #f4c529;
$color-yellow-bright: #f7d669;
$color-red: #e02c4b;

// FONT
$default-font-size: 1.6rem;

// FONT PATH
$oswald-font-path: 'fonts/oswald';
$barlow-condensed-font-path: 'fonts/roboto-condensed';
