// COLORS
$color-dark-grey: #4d4d4d;
$color-off-white: #f5f5f5;

$color-white: #fff;
$color-black: #000;

$color-yellow: #f4c529;
$color-red: #e02c4b;

// FONT
$default-font-size: 1.6rem;

// FONT PATH
$oswald-font-path: 'fonts/oswald';
