.nav {
  color: $color-white;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 5vh;
  width: 100%;
  &__icon {
    font-size: 2.5rem;
    @include respond(tab-land) {
      font-size: 2.25rem;
    }
    @include respond(tab-port) {
      font-size: 2rem;
    }
    &-link {
      color: $color-white;
      transition: all 0.4s;
      &:link,
      &:visited {
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:hover,
      &:active {
        color: $color-white;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }

  &__item {
    &-header {
      font-size: 2.5rem;
      @include respond(tab-land) {
        font-size: 2.25rem;
      }
      @include respond(tab-port) {
        font-size: 2rem;
      }
      &-link {
        text-decoration: none;
        &:link,
        &:visited {
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 0.4s;
        }
        &:hover,
        &:active {
          color: $color-white;
          text-decoration: none;
          opacity: 0.5;
        }
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  @include respond(phone) {
    display: none;
  }
}
