/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

li {
  font-weight: 300; }

#nprogress .bar {
  background: #f4c529; }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-ExtraLight.ttf");
  font-weight: 200;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-Light.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-Regular.ttf");
  font-weight: 400;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-Medium.ttf");
  font-weight: 500;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-SemiBold.ttf");
  font-weight: 600;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/roboto-condensed/RobotoCondensed-Light.ttf");
  font-weight: 300;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/roboto-condensed/RobotoCondensed-LightItalic.ttf");
  font-weight: 350;
  font-style: "italic";
  font-display: swap; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/roboto-condensed/RobotoCondensed-Regular.ttf");
  font-weight: 400;
  font-style: "normal";
  font-display: swap; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/roboto-condensed/RobotoCondensed-Bold.ttf");
  font-weight: 600;
  font-style: "normal";
  font-display: swap; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', Arial, Helvetica, sans-serif; }

body {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif; }

h1 {
  font-weight: 600; }

h2 {
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-bottom-massive {
  margin-bottom: 13rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-padding-left-small {
  padding-left: 1.5rem !important; }

.u-padding-left-medium {
  padding-left: 4rem !important; }

.u-padding-bottom-small {
  padding-bottom: 1.5rem !important; }

.u-padding-bottom-medium {
  padding-bottom: 4rem !important; }

.u-padding-right-small {
  padding-right: 1.5rem !important; }

.u-padding-right-medium {
  padding-right: 4rem !important; }

.page-cover {
  height: 100vh; }

.max-height {
  height: 100%; }

.selected {
  font-weight: 500 !important; }
  .selected:after {
    content: attr(title);
    display: block;
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden; }

.solid {
  border-top: 0.1rem solid #000000;
  width: 75%;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.active {
  padding-bottom: 1px;
  border-bottom: #ffffff 4px solid; }
  .active a::before {
    height: 0px;
    transition: none !important; }

.selectedLocation {
  background-color: #000000 !important;
  opacity: 50% !important;
  color: #ffffff !important; }

.selectedOrder {
  color: #000000 !important;
  opacity: 60% !important;
  font-weight: 500 !important; }

.nav {
  color: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 5vh;
  width: 100%; }
  .nav__icon {
    font-size: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .nav__icon {
        font-size: 2.25rem; } }
    @media only screen and (max-width: 56.25em) {
      .nav__icon {
        font-size: 2rem; } }
    .nav__icon-link {
      color: #ffffff;
      transition: all 0.4s; }
      .nav__icon-link:link, .nav__icon-link:visited {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase; }
      .nav__icon-link:hover, .nav__icon-link:active {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.5; }
  .nav__item-header {
    font-size: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .nav__item-header {
        font-size: 2.25rem; } }
    @media only screen and (max-width: 56.25em) {
      .nav__item-header {
        font-size: 2rem; } }
    .nav__item-header--logo {
      cursor: pointer;
      width: 100%;
      margin-left: 3rem; }
    .nav__item-header-link {
      position: relative;
      text-decoration: none; }
      .nav__item-header-link::before {
        content: '';
        position: absolute;
        width: 0;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        transition: all 0.3s ease-in-out; }
      .nav__item-header-link:link, .nav__item-header-link:visited {
        color: #ffffff; }
      .nav__item-header-link:hover, .nav__item-header-link:active {
        text-decoration: none;
        color: #ffffff; }
        .nav__item-header-link:hover::before, .nav__item-header-link:active::before {
          visibility: visible;
          width: 100%; }
  .nav__block {
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__block-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      width: 75%; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      display: none; } }

.adminnav {
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  .adminnav__list {
    list-style-type: none;
    display: flex;
    flex-direction: row; }
    .adminnav__list-item {
      margin: 2rem; }
      .adminnav__list-item--link {
        position: relative;
        text-decoration: none;
        font-weight: 600;
        font-size: 3rem; }
        .adminnav__list-item--link::before {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000;
          visibility: hidden;
          transition: all 0.3s ease-in-out; }
        .adminnav__list-item--link:link, .adminnav__list-item--link:visited {
          color: #000000; }
        .adminnav__list-item--link:hover, .adminnav__list-item--link:active {
          text-decoration: none;
          color: #000000; }
          .adminnav__list-item--link:hover::before, .adminnav__list-item--link:active::before {
            visibility: visible;
            width: 100%; }

.list-inline {
  margin-bottom: 0; }

.main {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  color: #ffffff; }
  .main__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/home_page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    transition: height 0.66s ease-in-out;
    box-shadow: 0 0 30rem black inset; }
  .main + .nav {
    background-color: #000000; }
  .main__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 5rem;
    margin-right: 10rem; }
    .main__container-header {
      font-size: 11.5rem;
      text-align: center;
      margin: 0 auto;
      text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
      .main__container-header::selection {
        background: none; }
      .main__container-header:hover {
        cursor: default; }
      @media only screen and (max-width: 37.5em) {
        .main__container-header {
          font-size: 5rem; } }
    .main__container-subheader {
      display: inline-block;
      font-size: 2.75rem;
      text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
      .main__container-subheader::selection {
        background: none; }
      .main__container-subheader:hover {
        cursor: default; }
      @media only screen and (max-width: 37.5em) {
        .main__container-subheader {
          margin-bottom: 4rem;
          font-size: 1.25rem; } }

.menu {
  height: 100%;
  transition: height 0.66s ease-in-out; }
  .menu__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/menu_page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75%;
    min-height: 75%;
    transition: height 0.66s ease-in-out; }
  .menu__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    height: 100%; }
    .menu__header-text {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 5rem 10rem;
      text-align: center;
      color: white;
      font-weight: 400;
      font-size: 3rem; }
    .menu__header-pdf {
      display: flex;
      flex-direction: row;
      padding: 5rem 10rem;
      text-align: center;
      color: white;
      font-weight: 400;
      font-size: 3rem; }
      .menu__header-pdf--text {
        padding-right: 0.5rem; }
      .menu__header-pdf--link {
        color: #f4c529;
        cursor: pointer;
        text-decoration: none;
        transition: color 0.3s ease-in-out; }
        .menu__header-pdf--link:link, .menu__header-pdf--link:visited {
          color: #f4c529; }
        .menu__header-pdf--link:hover {
          color: #f7d669; }
  .menu__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 0;
    width: 75%;
    margin: 0 auto;
    min-height: 100%;
    transition: height 0.66s ease-in-out; }
  .menu__list {
    padding: 0; }
    .menu__list-header {
      font-size: 3.25rem;
      text-align: center;
      color: #e02c4b;
      font-weight: 400; }
    .menu__list-column {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0; }
    .menu__list-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0; }
    .menu__list-yaxis {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: 3rem; }
      .menu__list-yaxis--item {
        font-size: 2.5rem; }
    .menu__list-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 3rem; }
      .menu__list-row--item {
        font-size: 2rem; }
        .menu__list-row--item span:first-child {
          margin-left: 1.5rem; }
        .menu__list-row--item_header {
          font-weight: 400;
          font-size: 2.5rem; }
        .menu__list-row--item_price {
          font-weight: 350; }
        .menu__list-row--item_special {
          font-weight: 350;
          margin: auto 0.5rem !important; }
      .menu__list-row--text {
        font-size: 2.5rem;
        font-weight: 400; }
    .menu__list-chicken {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start; }
      .menu__list-chicken--img {
        position: aboslute;
        padding-top: 15rem;
        width: 100%; }
  .menu__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    width: 100%; }
    .menu__nav-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      text-decoration: none;
      list-style-type: none; }
      .menu__nav-list--item {
        text-align: center;
        font-size: 2rem;
        padding: 0 3rem;
        width: 20%;
        cursor: pointer;
        font-weight: 300;
        font-style: normal;
        transition: opacity 0.3s ease-in-out, font-weight 0.1s ease-in-out; }
        .menu__nav-list--item:hover {
          opacity: 0.7; }

.location {
  min-height: 75%;
  height: 100%;
  overflow: hidden;
  transition: height 0.66s ease-out;
  display: flex;
  color: #ffffff; }
  .location__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/locations_page.jpg");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 65%; }
  .location__block {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 10rem; }
    .location__block-first {
      text-align: center;
      font-weight: 250;
      font-size: 2.75rem;
      color: #fff;
      justify-content: center;
      margin-top: 4rem;
      padding: 3rem;
      height: 70%;
      width: 100%; }
      .location__block-first_map {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 2.75rem;
        margin-top: 5rem; }
    .location__block-second {
      text-align: center;
      font-weight: 250;
      font-size: 2.75rem;
      color: #4d4d4d;
      justify-content: center;
      padding: 2rem;
      height: 60%;
      width: 100%; }
      .location__block-second_map {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 2.75rem;
        color: #4d4d4d;
        margin-top: 1rem; }
  .location__map {
    height: 5rem;
    width: 75%; }
    .location__map-loading {
      text-align: center;
      justify-content: center;
      font-size: 3rem; }

.story {
  min-height: 75%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  color: #ffffff; }
  .story__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/story_page.jpg");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 80%;
    background-color: #4d4d4d;
    transition: height 0.66s ease-in-out; }
  .story__franchise {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/paper.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 85%;
    width: 100%;
    transition: height 0.66s ease-in-out; }
  .story__text {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 250;
    font-size: 2rem;
    margin: 0 auto; }
    .story__text-row {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: row;
      margin: 0 auto; }
    .story__text-column {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      padding: 3rem; }
    .story__text-title {
      text-align: center;
      font-weight: 400;
      font-size: 3rem;
      margin: 0 auto;
      justify-content: center;
      margin-top: 3rem; }
    .story__text-content {
      text-align: center;
      justify-content: center;
      font-weight: 250;
      font-size: 2rem; }
  .story__header {
    font-size: 7rem;
    justify-content: center;
    text-align: center;
    padding-top: 40rem;
    margin: 0 auto; }
    .story__header::selection {
      background: none; }
    .story__header:hover {
      cursor: default; }
    @media only screen and (max-width: 37.5em) {
      .story__header {
        font-size: 5rem;
        padding-top: 10rem; } }
  .story__subheader {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem; }
    .story__subheader::selection {
      background: none; }
    .story__subheader:hover {
      cursor: default; }
    @media only screen and (max-width: 37.5em) {
      .story__subheader {
        margin-bottom: 4rem;
        font-size: 1.25rem; } }

.catering {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .catering__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/cater_page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    transition: height 0.66s ease-in-out; }
  .catering__header {
    color: #ffffff;
    font-weight: 400;
    font-size: 3rem; }

.ordering {
  min-height: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #ffffff;
  overflow: hidden; }
  .ordering__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/paper.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    transition: height 0.66s ease-in-out; }
  .ordering__header {
    color: #ffffff;
    font-weight: 400;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .ordering__cart {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #FFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0;
    float: right;
    margin-right: 0;
    transition: height 0.66s ease-in-out;
    color: #000;
    padding-right: 3rem;
    padding-left: 3rem; }
    .ordering__cart_header {
      flex-direction: row !important;
      font-size: 1.5rem;
      height: 10%;
      padding-top: 5rem;
      padding-bottom: 2rem; }
      .ordering__cart_header-cartImg {
        opacity: 75%;
        float: left;
        justify-content: center; }
      .ordering__cart_header-exit {
        font-size: 1.5rem;
        float: right;
        text-align: right;
        justify-content: center; }
        .ordering__cart_header-exit:hover, .ordering__cart_header-exit:active {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.8);
          cursor: pointer; }
        @media only screen and (max-width: 37.5em) {
          .ordering__cart_header-exit {
            padding: 0.5rem 2rem;
            font-size: 1rem; } }
    .ordering__cart_content {
      padding-top: 5rem;
      font-size: 2.5rem;
      height: 60%; }
    .ordering__cart_total {
      font-size: 2.5rem;
      height: 25%;
      position: absolute;
      bottom: 0 !important; }
  .ordering__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center bottom;
    padding: 3rem;
    width: 80%;
    position: fixed;
    bottom: 0;
    right: 23rem; }
    .ordering__nav-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      text-decoration: none;
      list-style-type: none; }
      .ordering__nav-list--item {
        text-align: center;
        font-size: 3rem;
        padding: 0 3rem;
        width: 20%;
        cursor: pointer;
        font-weight: 300;
        font-style: normal;
        transition: opacity 0.3s ease-in-out, font-weight 0.1s ease-in-out; }
        .ordering__nav-list--item:hover {
          opacity: 0.7; }
  .ordering__menuNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left center;
    width: 100%; }
    .ordering__menuNav-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75%;
      text-decoration: none;
      list-style-type: none; }
      .ordering__menuNav-list--item {
        text-align: center;
        font-size: 2rem;
        padding: 0 3rem;
        width: 20%;
        cursor: pointer;
        font-weight: 300;
        font-style: normal;
        transition: opacity 0.1s ease-in-out, font-weight 0.1s ease-in-out; }
        .ordering__menuNav-list--item:hover {
          opacity: 0.5; }
  .ordering__container {
    display: flex;
    flex-direction: column;
    height: 75%;
    min-height: 75%;
    width: 85rem;
    padding-left: 10rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    position: fixed !important;
    left: 5rem !important;
    top: 2rem; }
    .ordering__container-header {
      display: flex;
      justify-content: left;
      color: #ffffff;
      font-weight: 500;
      font-size: 3.5rem;
      height: 10%; }
    .ordering__container-content {
      padding-top: 2rem;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      font-weight: 400;
      font-size: 2rem;
      height: 50rem;
      min-height: 50rem;
      width: 100%;
      overflow-y: auto !important;
      overflow-x: hidden !important; }
    .ordering__container-menuContent {
      display: flex;
      flex-direction: row;
      align-items: left;
      font-size: 2rem;
      color: #ffffff;
      font-weight: 300;
      padding-right: 3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 100%; }
      .ordering__container-menuContent_text:hover, .ordering__container-menuContent_text:active {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer; }
    .ordering__container-sauce {
      display: flex;
      flex-direction: column;
      align-items: left;
      font-size: 2rem;
      color: #ffffff;
      font-weight: 300;
      padding-right: 3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .ordering__container-sauce_button {
        background-color: #ffffff;
        opacity: 70%;
        color: #000000;
        padding: 3rem;
        border-radius: 1rem;
        border: none;
        font-size: 2rem;
        font-weight: 300;
        transition: color 0.4s;
        display: flex;
        margin-bottom: 3rem;
        align-items: center;
        text-decoration: none;
        justify-content: left;
        height: 12rem;
        width: 60rem;
        min-width: 80%; }
        .ordering__container-sauce_button_content {
          display: flex !important;
          flex-direction: row !important;
          justify-content: left !important;
          align-items: center; }
          .ordering__container-sauce_button_content--img {
            max-height: 20rem;
            max-width: 18rem;
            opacity: 100% !important;
            left: 0;
            margin-right: 3rem; }
        .ordering__container-sauce_button:hover, .ordering__container-sauce_button:active {
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0.5);
          color: #ffffff;
          cursor: pointer; }
        @media only screen and (max-width: 37.5em) {
          .ordering__container-sauce_button {
            padding: 0.5rem 2rem;
            font-size: 1rem; } }
    .ordering__container-other {
      display: flex;
      font-size: 2rem;
      color: #ffffff;
      font-weight: 200;
      padding-right: 3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 100%; }
      .ordering__container-other_button {
        background-color: #ffffff;
        opacity: 70%;
        color: #000000;
        font-weight: 300;
        padding: 3rem;
        border-radius: 1rem;
        border: none;
        transition: color 0.4s;
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
        align-items: center;
        text-decoration: none;
        justify-content: left;
        height: 12rem !important;
        width: 60rem;
        min-width: 80%; }
        .ordering__container-other_button_left {
          display: flex;
          flex-direction: column !important;
          float: left !important; }
          .ordering__container-other_button_left-header {
            font-size: 3rem;
            font-weight: 500; }
        .ordering__container-other_button_right {
          float: right !important;
          text-align: right !important; }
        .ordering__container-other_button:hover, .ordering__container-other_button:active {
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0.5);
          color: #ffffff;
          cursor: pointer; }
        @media only screen and (max-width: 37.5em) {
          .ordering__container-other_button {
            padding: 0.5rem 2rem;
            font-size: 1rem; } }
  .ordering__menuselect-main {
    background-color: #ffffff;
    opacity: 50%;
    color: #000000;
    padding: 3rem;
    border-radius: 1rem;
    border: none;
    font-size: 2.5rem;
    font-weight: 300;
    transition: color 0.4s;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    align-items: center;
    text-decoration: none;
    height: 12rem;
    width: 50rem;
    max-width: 90%;
    overflow: hidden; }
    .ordering__menuselect-main_header {
      font-size: 3rem !important;
      font-weight: 400;
      float: left; }
    .ordering__menuselect-main_content {
      display: flex !important;
      justify-content: right !important;
      text-align: right;
      float: right;
      padding-left: 5rem; }
    .ordering__menuselect-main:hover, .ordering__menuselect-main:active {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .ordering__menuselect-main {
        padding: 0.5rem 2rem;
        font-size: 1rem; } }
  .ordering__form {
    font-size: 2rem !important;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    overflow: hidden; }
    .ordering__form-header {
      font-size: 3rem !important;
      font-weight: 400 !important;
      padding-top: 3rem; }
    .ordering__form-right {
      flex-direction: column !important; }
      .ordering__form-right_list {
        font-size: 2rem;
        overflow-y: scroll !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        max-height: 43rem; }
        .ordering__form-right_list--button {
          background-color: #ffffff;
          opacity: 70%;
          color: #000000;
          font-weight: 300;
          padding: 1rem;
          border-radius: 1rem;
          border: none;
          transition: color 0.4s;
          margin: 2rem;
          text-decoration: none;
          justify-content: center;
          text-align: center;
          width: 80%; }
          .ordering__form-right_list--button:hover, .ordering__form-right_list--button:active {
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.5);
            color: #ffffff;
            cursor: pointer; }
          @media only screen and (max-width: 37.5em) {
            .ordering__form-right_list--button {
              padding: 0.5rem 2rem;
              font-size: 1rem; } }
    .ordering__form-left {
      flex-direction: column !important;
      padding-left: 1rem; }
      .ordering__form-left_input {
        width: 72%;
        background-color: #ffffff;
        padding: 1rem;
        opacity: 70%;
        color: #000000;
        outline: none;
        border-radius: 1rem; }
      .ordering__form-left_textarea {
        width: 74%;
        height: 20rem;
        padding: 1rem;
        background-color: #ffffff;
        opacity: 70%;
        color: #000000;
        border: none;
        border-radius: 1rem;
        resize: vertical; }
    .ordering__form-extra {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      text-align: center;
      align-content: center;
      font-size: 2rem;
      font-weight: 300; }
  .ordering__cartbutton {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 1rem; }
    .ordering__cartbutton:hover, .ordering__cartbutton:active {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer; }

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }
  .login__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/story_page.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100%;
    height: 100%;
    transition: height 0.66s ease-out; }
  .login__img {
    width: 15%; }
  .login__header {
    font-size: 5rem;
    color: #ffffff; }
  .login__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    border-radius: 2.5rem;
    padding: 3rem; }
    .login__container-header {
      font-size: 3rem;
      font-weight: 400;
      color: #ffffff; }
    .login__container-form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%; }
      .login__container-form--input {
        display: block;
        width: 35rem;
        height: 3.25rem;
        font-size: 1.5rem;
        line-height: 1.6rem;
        font-weight: 400;
        appearance: none;
        border-radius: 0.5rem;
        min-height: auto;
        padding: 0.66rem 1.25rem;
        margin: 1rem; }
        .login__container-form--input:focus {
          border: 0.25rem #f4c529; }
      .login__container-form--btn {
        background-color: #f4c529;
        color: #000000;
        padding: 0.5rem 2.5rem;
        border-radius: 0.5rem;
        border: none;
        font-size: 2rem;
        font-weight: 500;
        transition: color 0.4s; }
        .login__container-form--btn:link, .login__container-form--btn:visited {
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase; }
        .login__container-form--btn:hover, .login__container-form--btn:active {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.5);
          cursor: pointer; }

.incomplete__page {
  background-color: #f7f7f7; }

.btn {
  background-color: #e02c4b;
  color: #ffffff;
  padding: 0.5rem 2.5rem;
  border-radius: 10rem;
  border: none;
  font-size: 2rem;
  font-weight: 200;
  transition: color 0.4s; }
  .btn:link, .btn:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; }
  .btn:hover, .btn:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      padding: 0.5rem 2rem;
      font-size: 1rem; } }

.menuitem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  height: 100%;
  width: fit-content;
  block-size: fit-content;
  font-weight: 300; }
  .menuitem__header {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    text-align: left; }
  .menuitem__img {
    object-fit: contain;
    width: 66%;
    height: 100%; }

.menuselect {
  padding: 0.5rem 2.5rem;
  border-radius: 10rem;
  border: none;
  font-size: 2rem;
  font-weight: 200;
  transition: color 0.4s; }
  .menuselect__inactive {
    background-color: #ffffff;
    opacity: 50%;
    color: #000000; }
  .menuselect__active {
    background-color: #000000;
    opacity: 50%;
    color: #ffffff;
    padding: 0.5rem 2.5rem;
    border-radius: 10rem;
    border: none;
    font-size: 2rem;
    font-weight: 200;
    transition: color 0.4s; }
  .menuselect:link, .menuselect:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; }
  .menuselect:hover, .menuselect:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .menuselect {
      padding: 0.5rem 2rem;
      font-size: 1rem; } }

.standardmenu__row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column; }
  .standardmenu__row-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%; }
    .standardmenu__row-item--name {
      font-size: 2.75rem;
      font-weight: 500; }
    .standardmenu__row-item--price {
      font-size: 2.25rem;
      font-weight: 350;
      display: flex;
      align-self: end;
      justify-self: end; }
  .standardmenu__row-description {
    font-size: 1.5rem;
    font-weight: 350; }

.standardmenu__img {
  object-fit: contain;
  width: 66%;
  height: 100%; }

.cart {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  width: 200rem;
  right: 0; }
  .cart__container {
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5rem; }
    .cart__container_header {
      font-size: 300rem;
      height: 30rem; }
