/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-ExtraLight.ttf");
  font-weight: 200;
  font-style: "extra-light"; }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-Light.ttf");
  font-weight: 300;
  font-style: "light"; }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-Regular.ttf");
  font-weight: 400;
  font-style: "regular"; }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-Medium.ttf");
  font-weight: 500;
  font-style: "medium"; }

@font-face {
  font-family: "Oswald";
  src: url("fonts/oswald/Oswald-SemiBold.ttf");
  font-weight: 600;
  font-style: "semi-bold"; }

* {
  font-family: 'Oswald', Arial, Helvetica, sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', Arial, Helvetica, sans-serif; }

h1 {
  font-weight: 600; }

h2 {
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-bottom-massive {
  margin-bottom: 13rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.page-cover {
  height: 100vh; }

.max-height {
  height: 100%; }

.menuitem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0 2rem 2rem;
  height: 100%; }
  .menuitem__title {
    display: flex;
    text-align: left; }
  .menuitem__img {
    width: 66%; }

.nav {
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 5vh;
  width: 100%; }
  .nav__icon {
    font-size: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .nav__icon {
        font-size: 2.25rem; } }
    @media only screen and (max-width: 56.25em) {
      .nav__icon {
        font-size: 2rem; } }
    .nav__icon-link {
      color: #fff;
      transition: all 0.4s; }
      .nav__icon-link:link, .nav__icon-link:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase; }
      .nav__icon-link:hover, .nav__icon-link:active {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.5; }
  .nav__item-header {
    font-size: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .nav__item-header {
        font-size: 2.25rem; } }
    @media only screen and (max-width: 56.25em) {
      .nav__item-header {
        font-size: 2rem; } }
    .nav__item-header-link {
      text-decoration: none; }
      .nav__item-header-link:link, .nav__item-header-link:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.4s; }
      .nav__item-header-link:hover, .nav__item-header-link:active {
        color: #fff;
        text-decoration: none;
        opacity: 0.5; }
  .nav__block {
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__block-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      display: none; } }

.list-inline {
  margin-bottom: 0; }

.main {
  min-height: 75%;
  overflow: hidden;
  transition: height 0.66s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  color: #fff; }
  .main__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/koop-6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%; }
  .main + .nav {
    background-color: #000; }
  .main__header {
    font-size: 11.5rem;
    text-align: center;
    margin: 0 auto; }
    .main__header::selection {
      background: none; }
    .main__header:hover {
      cursor: default; }
    @media only screen and (max-width: 37.5em) {
      .main__header {
        font-size: 5rem; } }
  .main__subheader {
    font-size: 2.5rem; }
    .main__subheader::selection {
      background: none; }
    .main__subheader:hover {
      cursor: default; }
    @media only screen and (max-width: 37.5em) {
      .main__subheader {
        margin-bottom: 4rem;
        font-size: 1.25rem; } }
  .main__btn {
    background-color: #e02c4b;
    color: #fff;
    padding: 0.75rem 4rem;
    border-radius: 10rem;
    border: none;
    font-size: 2rem;
    font-weight: 200;
    transition: color 0.4s; }
    .main__btn:link, .main__btn:visited {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase; }
    .main__btn:hover, .main__btn:active {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .main__btn {
        padding: 0.5rem 2rem;
        font-size: 1rem; } }

.menu {
  width: 100%; }
  .menu__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/honeygarlic-7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 0.5s;
    height: 50%; }
  .menu__list-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
