.mobilenav {
  display: none;
  @include respond(phone) {
    z-index: 1500;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: transparent;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    &-hamburger {
      z-index: 2000;
      margin: 2.25rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      padding: 10rem 0 0 0;
      align-items: flex-end;
      justify-content: flex-start;
      background-color: $color-white;
      height: 100%;
      max-width: 66%;
      position: absolute;
      & li:last-child {
        margin-right: 0.5rem;
      }

      & li {
        padding-right: 2.25rem;
      }
    }
  }
}
