.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-bottom-massive {
  margin-bottom: 13rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-left-medium {
  margin-left: 4rem !important;
}

.u-padding-left-small {
  padding-left: 1.5rem !important;
}

.u-padding-left-medium {
  padding-left: 4rem !important;
}

.u-padding-bottom-small {
  padding-bottom: 1.5rem !important;
}

.u-padding-bottom-medium {
  padding-bottom: 4rem !important;
}

.u-padding-right-small {
  padding-right: 1.5rem !important;
}

.u-padding-right-medium {
  padding-right: 4rem !important;
}

.page-cover {
  height: 100vh;
}

.max-height {
  height: 100%;
}

.selected {
  font-weight: 500 !important;
  &:after {
    content: attr(title);
    display: block;
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.solid {
  border-top: 0.1rem solid $color-black;
  width: 75%;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.active {
  padding-bottom: 1px;
  border-bottom: $color-white 4px solid;

  @include respond(phone) {
    border-bottom: $color-black 4px solid;
  }
  & a::before {
    height: 0px;
    transition: none !important;
  }
}

.selectedLocation {
  background-color: $color-black !important;
  opacity: 50% !important;
  color: $color-white !important;
}

.selectedOrder {
  color: $color-black !important;
  opacity: 60% !important;
  font-weight: 500 !important;
}
