.main {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  color: $color-white;

  @include respond(phone) {
    // width < 1200?
    align-items: center;
    justify-content: flex-end;
    margin-right: 0;
  }

  &__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url('../images/home_page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    transition: height 0.66s ease-in-out;
    box-shadow: 0 0 30rem rgba(0, 0, 0, 1) inset;

    @include respond(phone) {
      background-image: url('../images/home_page.jpg');
      background-color: $color-black;
      background-size: auto 75%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
      box-shadow: 0 0 10rem rgba(0, 0, 0, 1) inset;
    }
  }

  & + .nav {
    background-color: $color-black;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 5rem;
    margin-right: 10rem;
    @include respond(phone) {
      // width < 1200?
      padding: 2.5rem 2.5rem;
      margin-right: 0;
    }
    &-header {
      font-size: 11.5rem;
      text-align: center;
      margin: 0 auto;
      text-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
      &::selection {
        background: none;
      }

      &:hover {
        cursor: default;
      }

      @include respond(phone) {
        // width < 1200?
        font-size: 8rem;
      }
    }

    &-subheader {
      display: inline-block;
      font-size: 2.75rem;
      text-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
      &::selection {
        background: none;
      }

      &:hover {
        cursor: default;
      }

      @include respond(phone) {
        // width < 1200?
        margin-bottom: 4rem;
        font-size: 1.85rem;
      }
    }
  }
}
