.location {
  min-height: 75%;
  height: 100%;
  overflow: hidden;
  transition: height 0.66s ease-out;
  display: flex;
  // background-color: #fefef1;
  color: $color-white;

  &__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/soygarlic-3.jpg');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 65%;
  }

  &__block {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 10rem;

    &-first {
      text-align: center;
      font-weight: 250;
      font-size: 2.75rem;
      color: #fff;
      justify-content: center;
      margin-top: 4rem;
      // margin-bottom: 2rem;
      padding: 3rem;
      height: 70%;
      width: 100%;
      &_map {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 2.75rem;
        margin-top: 5rem;
      }
    }
    &-second {
      text-align: center;
      font-weight: 250;
      font-size: 2.75rem;
      color: #4d4d4d;
      justify-content: center;
      padding: 2rem;
      height: 60%;
      width: 100%;
      &_map {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 2.75rem;
        color: #4d4d4d;
        margin-top: 1rem;
      }
    }
  }


  &__map {
    height: 5rem;
    width: 75%;
    &-loading {
      text-align: center;
      justify-content: center;
      font-size: 3rem;
    }
  }
}
