.menu {
  transition: height 0.66s ease-in-out;

  &__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/honeygarlic-7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50%;
    min-height: 50%;
    transition: height 0.66s ease-in-out;
  }

  &__header {
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
  }

  &__list {
    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    width: 100%;
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 65%;
      text-decoration: none;
      list-style-type: none;
      &--item {
        font-size: 2rem;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out, font-weight 0.2s ease-in-out;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
