.story {
  min-height: 75%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  color: $color-white;

  &__page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/koop-7.jpg');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 85%;
    background-color: #4d4d4d;
    transition: height 0.66s ease-in-out;
  }

  &__franchise {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../images/paper.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 85%;
    width: 100%;
    transition: height 0.66s ease-in-out;
  }

  // &__title {
  //   text-align: center;
  //   font-weight: 400;
  //   font-size: 3rem;
  //   margin: 0 auto;
  // }

  &__text {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 250;
    font-size: 2rem;
    margin: 0 auto;
    // margin-top: 10rem;
    // margin-right: 15rem;
    // margin-left: 15rem;
    &-row {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: row;
      margin: 0 auto;
    };
    &-column {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      padding: 3rem;
    };
    &-title {
      text-align: center;
      font-weight: 400;
      font-size: 3rem;
      margin: 0 auto;
      justify-content: center;
      margin-top: 3rem;
    };
    &-content {
      text-align: center;
      justify-content: center;
      font-weight: 250;
      font-size: 2rem;
    }
  }

  &__header {
    font-size: 7rem;
    justify-content: center;
    text-align: center;
    padding-top: 40rem;
    margin: 0 auto;
    &::selection {
      background: none;
    }

    &:hover {
      cursor: default;
    }

    @include respond(phone) {
      // width < 1200?
      font-size: 5rem;
      padding-top: 10rem;
    }
  }

  &__subheader {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    &::selection {
      background: none;
    }

    &:hover {
      cursor: default;
    }

    @include respond(phone) {
      // width < 1200?
      margin-bottom: 4rem;
      font-size: 1.25rem;
    }
  }
}
